body {
  font-family: Gill Sans Extrabold, sans-serif;
  background-color: white;
}

p {
  margin: 5px 0;
}

#header {
  font-weight: bold;
  float: right;
  font-size: 8pt;
  color: rgb(169, 169, 169);
}

#content {
  padding-top: 10px;
  width: 100%;
  overflow-y: scroll;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 8pt;
  font-style: italic;
  color: rgb(169, 169, 169);
}

.card {
  margin: auto;
  width: 95%;
  padding-bottom: 10px;
}

.streamerName {
  font-size: 9pt;
}

.viewer {
  color: rgb(169, 169, 169);
}
